/* *{
    background-color: #eaf1f8;
} */

html {
    /* margin: 20px; */
    /* padding: 50px; */
    /* padding-top: 10px; */
    /* border: red solid 1px; */
}


/* div {
    border: blue solid 1px;
}

section {
    border: green solid 1px
} */

/*top bar elements*/
#topbar { 
    position:fixed;
    width:100%;
    z-index:1; /*stack on top*/
    top: 0px; /*set top position*/
    background-color:  #eaf1f8;
    
}

.topbar-button {
    text-decoration: none;
    cursor: pointer;
    float:left;
    padding:8px 16px
}

#topbar-right{
    float:right!important
}

.topbar-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

/*header elements*/
.header-container img {
    width: 100%;
}

#left-bake { 
    padding-left: 50px; /*change space on left of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 15px; /*change vertical scaling of image*/
}

#right-bake { 
    padding-right: 50px; /*change space on right of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 20px; /*change vertical scaling of image*/
}

.header-container {
    background-color: #e7e5dd;
    display: flex;
    width: 100%; 
    text-align: center;
    margin-top:38px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}

.header-item {
    float: right;
    width:33%;
}

/*main content*/
#content {
    padding-left:70px;
    padding-right:70px

}

.parent--container {
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
    min-height: 300px;
}
