/* *{
    background-color: #eaf1f8;
} */

/* html {
    border: red solid 1px;
}

div {
    border: blue solid 1px;
}

section {
    border: green solid 1px
} */

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
html{overflow-x:hidden}
html > *  {
    /* background-color:  #ececec; */
    background-color:  #f5f0eb;
}

/*FONTS/GENERAL STYLING*/
body {
    font-family: Verdana;
    color:rgb(49, 47, 47);
}

h1 {
    font-family: "Verdana";
    letter-spacing: 5px;
    font-weight: normal;
    font-size:36px;
    color:rgb(49, 47, 47);
}


hr {border:0;
    /* border-top:1px solid rgb(224, 221, 221); */
    border-top:1px solid #6e6e30;
    margin:20px 0}

/*TOP BAR ELEMENTS*/
#topbar { 
    position:fixed;
    width:100%;
    z-index:1; /*stack on top*/
    top: 0px; /*set top position*/
    /* background-color:  #bccbde; */
    background-color: #4056A1;    
}

.topbar-button {
    text-decoration: none;
    cursor: pointer;
    float:left;
    padding:8px 16px;
    /* color: #00303f; */
    color: white;
    /* background-color: #bccbde; */
    background-color: #4056A1;
    font-family:Verdana;
    letter-spacing: 1px
}


#topbar-right{
    float:right!important
}

.topbar-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

/*header elements*/
.header-container img {
    width: 100%;
}

#left-bake { 
    padding-left: 50px; /*change space on left of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 15px; /*change vertical scaling of image*/
}

#right-bake { 
    padding-right: 50px; /*change space on right of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 20px; /*change vertical scaling of image*/
}

.header-container {
    /* background-color:white!important; */
    display: flex;
    width: 100%; 
    text-align: center;
    margin-top:35px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}

.header-item {
    float: right;
    width:33%;
}

/*main content*/

#content {
    padding-left:120px;
    padding-right:120px

}

#content > * {
    margin-top: 100px;
    margin-bottom: 100px
}

.parent--container {
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
    min-height: 300px;
}

#about {
    text-align: center;
}

.description {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px
}
