/* html {
    border: red solid 1px;
}

div {
    border: blue solid 1px;
}

section {
    border: green solid 1px
}

svg {
    border: orange solid 1px
}

g {
    border: purple solid 1px
} */

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
html{overflow-x:hidden}

/*FONTS AND GENERAL STYLING*/
body {
    font-family: Verdana;
    /* color:rgb(49, 47, 47); */
}

h1 {
    font-family: "Verdana";
    /* letter-spacing: 5px; */
    font-weight: normal;
    font-size:30px;
    /* color:rgb(49, 47, 47); */
}


hr {
    border:0;
    margin:20px 0
}


a{
    text-decoration: none;
}

/*TOP BAR ELEMENTS*/
#topbar { 
    position:fixed;
    width:100%;
    z-index:1; /*stack on top*/
    top: 0px; /*set top position*/
}

.topbar-button {
    text-decoration: none;
    cursor: pointer;
    float:left;
    padding:8px 16px;
    font-family:Verdana;
    letter-spacing: 1px
}


#topbar-right{
    float:right!important
}

.topbar-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

/*HEADER ELEMENTS*/
.header-container img {
    width: 100%;
}

#left-bake { 
    padding-left: 50px; /*change space on left of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 15px; /*change vertical scaling of image*/
}

#right-bake { 
    padding-right: 50px; /*change space on right of image*/
    margin-top: 40px; /*move images up and down*/
    padding-top: 20px; /*change vertical scaling of image*/
}

.header-container {
    /* background-color:white!important; */
    display: flex;
    width: 100%; 
    text-align: center;
    margin-top:38px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}

.header-item {
    float: right;
    width:33%;
}

/*MAIN CONTENT*/

#content {
    padding-left:120px;
    padding-right:120px;
}

#content > * {
    margin-top: 100px;
    margin-bottom: 100px
}

.parent--container {
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
}

.graph-container {
    width:60%
}
.word-container {
    width:40%
}

.description {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.center {
    text-align: center;
}

/*ABOUT SECTION */
#viewership-more-button {
    width: 80%;
    border: 0px
}

#viewership-more {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.arrow {
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #viewership-more div{
      margin-top:12px
  }

  #viewership-more a {
      font-size: 10px;
      text-decoration: underline;
  }

/*BUBBLE*/
/* .svg-container {
    display: block;
    width: 100%;
    overflow: hidden;
  } */

#bubble-svg {
    display: block;
    margin: auto;
    width: 50%;
    overflow: hidden;
    max-height:450px;
  }